<!DOCTYPE html>
<html lang ="en">
    <head> 
        <meta charset = "UTF-8" />
        <title> {{var_welcome_title}} </title>
        <link rel="stylesheet" href= "{{url_for('static', filename = 'css/main.css')}}"/>
        <link rel="stylesheet" href= "{{url_for('static', filename = 'css/master.css')}}"/>
    </head>
    <body>
        {%block body%}
        <div class="topnav">
          <a class="active" href="#home">Home</a>
          <a href="#news">News</a>
          <a href="#contact">Contact</a>
          <a href="#about">About</a>
        </div>
        {%endblock%}
    </body>

</html>