{% extends 'base2.html'%}
<!-- # should has it's own css file. -->
<!-- <link rel="stylesheet" href= "{{url_for('static', filename = 'css/main.css')}}"/> -->

{%block body%}
<h1 class = 'p_head'> {{ page_head }}</h1>
<p class = 'p_des'> {{page_description}}</p>
<p><a href = "about"> go to about page!</a></p>
<p><a href = "welcome"> go to welcome page!</a></p>
<p><a href = "login">  login!</a> or <a href = 'register'>register</a></p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit,
 sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
 Diam sollicitudin tempor id eu nisl nunc mi. 
 Euismod quis viverra nibh cras. Scelerisque in dictum non consectetur a erat.
 Duis convallis convallis tellus id interdum velit laoreet id donec. 
 Turpis egestas sed tempus urna et pharetra. Id faucibus nisl tincidunt eget nullam non nisi est. 
 Sit amet purus gravida quis blandit turpis cursus. Phasellus egestas tellus rutrum tellus pellentesque eu tincidunt. 
 Non blandit massa enim nec dui nunc. Id diam vel quam elementum pulvinar etiam non. 
 Tellus mauris a diam maecenas sed enim ut. Donec enim diam vulputate ut pharetra sit amet. 
 Volutpat ac tincidunt vitae semper quis lectus nulla. Vitae ultricies leo integer malesuada nunc. Interdum consectetur libero id faucibus nisl tincidunt.
 Dolor magna eget est lorem ipsum. Quis risus sed vulputate odio ut enim blandit volutpat maecenas. In fermentum et sollicitudin ac.
Velit scelerisque in dictum non consectetur a. Dignissim convallis aenean et tortor at risus viverra adipiscing.
 Tellus integer feugiat scelerisque varius morbi enim nunc faucibus. Egestas integer eget aliquet nibh praesent tristique
  magna sit amet. Vulputate dignissim suspendisse in est ante in nibh mauris cursus. Pulvinar mattis nunc sed blandit libero. Imperdiet proin fermentum leo vel. Ac placerat vestibulum lectus mauris ultrices eros in. Lorem ipsum dolor sit amet consectetur adipiscing. Sed enim ut sem viverra aliquet. Mi proin sed libero enim sed faucibus turpis in eu. Eget est lorem ipsum dolor sit amet consectetur. Nisl tincidunt eget nullam non nisi est sit. Cursus vitae congue mauris rhoncus aenean vel elit scelerisque mauris. Tortor condimentum lacinia quis vel 
eros donec ac odio tempor. Mi tempus imperdiet nulla malesuada pellentesque elit eget gravida. 
Urna neque viverra justo nec ultrices dui sapien eget 